
    <div class="container">
        <h2>Etapes a Suivre</h2>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <img src=".../../assets/images/one.png" alt="#"/>
                    <h3>Simuler votre credit</h3>
                    <p>It is a long established fact that a reader will be distracted by </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <img src=".../../assets/images/two.png"  alt="#"/>
                    <h3>informations personnelles</h3>
                    <p>It is a long established fact that a reader will be distracted by </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <img src=".../../assets/images/three.png"  alt="#"/>
                    <h3>Telecharger pieces jointes </h3>
                    <p>It is a long established fact that a reader will be distracted by </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <img src=".../../assets/images/four.png" alt="#"/>
                    <h3>affecter la demande</h3>
                    <p>It is a long established fact that a reader will be distracted by </p>
                </div>
            </div>
        </div>
    </div>

