<div class="my">
        
            
                <div class="col-md-6">
                    <div class="con_img">
                        <img class="img_responsive" src="../assets/images/femme.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bluid">
                        <h1>Faites votre demande de crédit en quelques clics</h1>
                        <p>Quelque soit votre besoin, rachat ou nouveau crédit bancaire à la consommation, faites votre simulation et passez votre demande 100% en ligne en quelques minutes.
                        </p>
                        <a routerLink="/formulaireDemandeCredit" class="btn btn-primary">Demander Credit</a>
                    </div>
                </div>
            
        

</div>
