<aside class="sidebar">
    <div class="sidebar-header">
      <h2>Admin Panel</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa fa-users"></i> Users</a></li>
        <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> Messages</a></li>
        <li><a href="#"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </nav>
  </aside>