<div class="form h-100">
    <h3>Informations de Credit</h3>
    <form class="mb-5">
      <div class="row" >
        <div class="col-md-6 form-group mb-5">
          <label for="" class="col-form-label">Type Credit*</label>
          <select id="typeCredit" name="typeCredit">
            <option *ngFor="let typeC of typeCreditOptions" [value]="typeC">{{ typeC }}</option>
        </select>
        </div>
        <div class="col-md-6 form-group mb-5">
          <label for="" class="col-form-label">Unite Credit *</label>
          <select id="typeUnite" name="typeUnite">
            <option *ngFor="let typeU of typeUniteOptions" [value]="typeU">{{ typeU }}</option>
           </select>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-4 form-group mb-5">
          <label for="" class="col-form-label">Montant a demander</label>
          <input type="number" class="form-control" name="montant" id="montant" >
        </div>
        <div class="col-md-4 form-group mb-5">
          <label for="" class="col-form-label">Duree En Mois</label>
          <input type="number" class="form-control" name="duree" id="duree">
        </div>
        <div class="col-md-4 form-group mb-5">
            <label for="" class="col-form-label">Interet% (optionel)</label>
            <input type="number" class="form-control" name="interet" id="interet">
          </div>
      </div>
    </form>
</div>
