<div class="all">
<div class="gti-container">
    <div class="gti-header">
      GTI : +40 ans d’excellence en services <br> informatiques pour les institutions financières
    </div>
    <div class="gti-content">
      <div class="gti-images">
        <img src="../../assets/images/entrep.png" alt="Technology Image" class="gti-image">
      </div>
      <div class="gti-text">
        <p>
          Forte de +40 années d’expérience, la Générale Tunisienne de l’Informatique se positionne comme un acteur majeur dans le domaine des logiciels et des services informatiques dédiés aux institutions financières. Nos solutions jouent un rôle essentiel en permettant à de nombreuses institutions bancaires de renom d’améliorer leur efficacité opérationnelle, leur agilité et leur capacité de réponse face aux défis de leurs activités.
        </p>
        <p>
          Au fil des années, GTI s’est engagée à investir de manière significative dans les nouvelles technologies et à constamment moderniser ses services pour rester en phase avec l’évolution rapide du marché technologique.
        </p>
      </div>
    </div>
  </div>
</div>  