<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="../../assets/images/logo2.png" alt="GTI Logo" class="footer-logo-img">
        <p class="footer-copyright">Copyright © 2024 | All rights reserved by GTI</p>
      </div>
      <div class="footer-links">
        <ul>
          <li>Expertise</li>
          <li>Nos Clients</li>
          <li>News & Insights</li>
          <li>A propos</li>
          <li>Carrière</li>
        </ul>
        <ul>
          <li>Arena Portail</li>
          <li>Punic Trade</li>
          <li>Agora Bourse</li>
          <li>Tanit Suite</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="footer-contact">
        <p>Contact</p>
        <p>(+216) 71 951 703</p>
        <p>gti.informatique@gtiinfo.com.tn</p>
        <div class="footer-social">
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  