<app-sidebar></app-sidebar>
<div class="main">
  <div *ngIf="user">
    <form (ngSubmit)="onSubmit()">
      <div class="profile-info">
        <div class="profile-section">
          <h2>Informations Personnelles</h2>
          <div class="info-item">
            <label for="cin">Numéro CIN :</label>
            <input type="text" id="cin" [(ngModel)]="user.numCin" name="numCin" readonly>
          </div>
          <div class="info-item">
            <label for="email">Email :</label>
            <input type="email" id="email" [(ngModel)]="user.email" name="email" >
          </div>
          <div class="info-item">
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" [(ngModel)]="user.prenom" name="prenom">
          </div>
          <div class="info-item">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" [(ngModel)]="user.nom" name="nom">
          </div>
          <div class="info-item">
            <label for="dateNaissance">Date de Naissance :</label>
            <input type="date" id="dateNaissance" [(ngModel)]="user.formattedDateNaiss" name="dateNaiss">
          </div>
          <div class="info-item">
            <label for="lieuNaissance">Lieu de Naissance :</label>
            <select id="lieuNaissance" [(ngModel)]="user.lieuNaiss" name="lieuNaiss">
              <option *ngFor="let lieu of lieuNaissanceOptions" [value]="lieu">{{ lieu }}</option>
            </select>
          </div>
          <div class="info-item">
            <label for="sexe">Sexe :</label>
            <select id="sexe" [(ngModel)]="user.sexe" name="sexe">
              <option *ngFor="let sexe of sexeOptions" [value]="sexe">{{ sexe }}</option>
            </select>
          </div>
          <div class="info-item">
            <label for="situationFamiliale">Situation Familiale :</label>
            <select id="situationFamiliale" [(ngModel)]="user.sf" name="sf">
              <option *ngFor="let sf of situationFamilialeOptions" [value]="sf">{{ sf }}</option>
            </select>
          </div>
        </div>
        <div class="profile-section">
          <h2>Informations Bancaires</h2>
          <div class="acc-info" *ngFor="let account of user.comptes; let i =index">
            <h6>Compte no {{ i + 1 }} :</h6>
            <div class="info-item">
              <label for="numCompte">Numéro de Compte:</label>
              <input type="text" [value]="account.numCompte" disabled>
            </div>
            <div class="info-item">
              <label for="devise">Devise :</label>
              <input type="text" [value]="account.deviseC" disabled>
            </div>
            <div class="info-item">
              <label for="dateOuverture">Date d'Ouverture :</label>
              <input type="date" [value]="account.dateOuvCompte | date:'yyyy-MM-dd'" disabled>
            </div>
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</div>
