<div class="all">
<app-admin-sidebar></app-admin-sidebar>
<app-admin-navbar></app-admin-navbar>
    <!-- Main Content -->
    <div class="main-content">
      <!-- Main Section -->
      <section class="content">
        <!-- Overview Cards -->
         <div class="card-overview">
        <div class="card">
          <div class="card-content">
            <h4>NOMBRE TOTAL CLIENTS</h4>
            <h2>200</h2>
          </div>
          <div class="card-icon money-icon"><i class="fa-solid fa-user"></i></div>
        </div>
        <div class="card">
          <div class="card-content">
            <h4>NOMBRE TOTAL DEMANDES CREDIT</h4>
            <h2>300</h2>
          </div>
          <div class="card-icon users-icon"><i class="fa-solid fa-landmark"></i></div>
        </div>
        <div class="card">
          <div class="card-content">
            <h4>NEW CLIENTS</h4>
            <h2>+3,462</h2>
          </div>
          <div class="card-icon clients-icon"><i class="fa-solid fa-user-plus"></i></div>
        </div>
        <div class="card">
          <div class="card-content">
            <h4>SALES</h4>
            <h2>$103,430</h2>
          </div>
          <div class="card-icon sales-icon"><i class="fa-solid fa-user-plus"></i></div>
        </div>
      </div>
  
        <!-- Recent Activity -->
        <div class="container">
            <h2>Les Demandes Credit</h2>
          <div class="table-container">  
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Customer</th>
                        <th>Location</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{ order.id }}</td>
                        <td>
                            <img [src]="order.customerImage" alt="{{ order.customerName }}">
                            {{ order.customerName }}
                        </td>
                        <td>{{ order.location }}</td>
                        <td>{{ order.orderDate }}</td>
                        <td><span class="status" [ngClass]="order.status | lowercase">{{ order.status }}</span></td>
                        <td>{{ order.amount | currency }}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
  
        <!-- Charts Section -->
        <div class="charts-section">
          <div class="chart">
            <h2>Sales Overview</h2>
            <canvas id="sales-chart"></canvas>
          </div>
          <div class="chart">
            <h2>Traffic Sources</h2>
            <canvas id="traffic-chart"></canvas>
          </div>
        </div>
      </section>
    </div>
  </div>
  